<!DOCTYPE html>
<html>

<head>
    <title>
        Accounts | Our Bank
    </title>

    <link rel="stylesheet" href="mystyle.css">
    <script src="Scripts/angular.1.7.8.js"></script>
    <script src="Scripts/_mybankAPIgateway.js"></script>


</head>

<body ng-app="_mybankAPIgateway" ng-controller="_mybankAPIgatewayController">

    <div id="container">
        <div id="header">
            <ul style="display:inline">
                <li>
                    <a class="active" href="Homepage.html">
                        Home
                    </a>
                </li>

                <li>
                    <a href="">
                        About Us
                    </a>
                </li>

                <li>
                    <a href="">
                        Contact
                    </a>
                </li>

                <li>
                    <img src="https://img.icons8.com/nolan/64/bank-building.png" />
                </li>

            </ul>
        </div>

    </div>
    <div class="heading">
        Welcome to Accounts Section!!!
    </div>


    <form id="frm" name="frm">

        <div align=center>

            <hr> account ID: &nbsp;<input id="accountid" type="text" name="accountid" ng-model="form.account._ID" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; account Name: &nbsp;<input id="accountname" type="text" name="accountname" ng-model="form.account.name" />
            <hr>
            <br>
            <button name="btnselect" ng-click="data.account.selectquery();">Read</button> &nbsp;&nbsp;
            <button name="btnupdate" ng-click="data.account.updatequery();">Update</button> &nbsp;&nbsp;
            <button name="btndelete" ng-click="data.account.deletequery();">Delete</button> &nbsp;&nbsp;
            <button name="btninsert" ng-click="data.account.insertquery();">Create</button>

        </div>

        <br>
        <hr>

        <div align=center>
            <h1><br><b>Account LIST</b></h1>
            <br>

            <table align="center">

                <tr>
                    <td align="center">ID</td>
                    <td align="center">ACCOUNT NAME</td>
                    <td align="center">BALANCE</td>

                </tr>
                <tr>
                    <td colspan=100%>
                        <hr>
                    </td>
                </tr>
                <tr style="color:blue;" ng-repeat="account in data.queryresponse">
                    <td align="center">{{account._ID}}</td>
                    <td align="center">{{account.accountname}}</td>
                    <td align="center">{{account.accountbalance}}</td>

                </tr>

            </table>
        </div>

        <div align=center>
            <br>
            <hr>
            <a href="Homepage.html">Back to Main Menu</a>
        </div>
    </form>

    <center>
        <hr/>
        <button name="btnvieweventlog" ng-click="data.account.vieweventlog();">View Event Log</button>
        <button name="btnhideeventlog" ng-click="hideeventlog();">Hide Event/Debug</button>
    </center>

    <br/>
    <br/>

    <div id="eventlog" ng-show="showeventlog==1">
        <table align="center">

            <tr>
                <td align="center">DATE-TIME</td>
                <td align="center">SOURCE</td>
                <td align="center">DESTINATION</td>
                <td align="center">STATUS</td>
                <td align="center">DIRECTION</td>
                <td align="center">EVENT DATA</td>

            </tr>
            <tr>
                <td colspan=100%>
                    <hr>
                </td>
            </tr>

            <tr style="color:blue;" ng-repeat="event in account.eventlog">
                <td align="center">{{event.createdate}}</td>
                <td align="center">{{event.eventsource}}</td>
                <td align="center">{{event.eventdestination}}</td>
                <td align="center">{{event.eventstatus}}</td>
                <td align="center">{{event.eventdirection}}</td>
                <td align="center">{{event.eventdata}}</td>

            </tr>

        </table>
    </div>
    <hr/>

    <div id="debug" ng-show="showeventlog==1" align="center" style="background-color:darkgrey;color:white;">
        <br>
        <font color=black><b>DEBUG</b></font>
        <br>eventquery: {{data.eventquery}}
        <br>query: {{data.query}}
        <br>querytype: {{data.querytype}}
        <br>fired query status: {{msg}}
    </div>

    <div id="footer">
        Project Done by Team ADITYA
    </div>
</body>

</html>